body,
header .column {
    display: flex;
    align-items: center;
}
body {
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f2fd;
}

.container {
    width: 780px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 35px 40px;
}

header h2 {
    font-size: 1.6rem;
}

.column span{
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}
.volume-slider input{
    accent-color: #fff;
}
.keys-check input{
    content: "";
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #4b4b4b;
    cursor: pointer;
    position: relative;
}

.keys-check input::before{
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    left: 0.3rem;
    background-color: #8c8c8c;
    border-radius: inherit;
    position: absolute;
}



